/*------------------------------------*\
    PAGE LOGIN
\*------------------------------------*/

// formulaire
.bloc-login {
    width: 100%;
    text-align: center;

    .login-form {
        width: 45%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 30px 0;

        .login-form__group {
            margin-bottom: 5px;

            label {
                display: inline-block;
                border: 1px solid rgba(0, 0, 0, 0.2);
                margin: 0 -4px 0 0;
                font-size: 25px;
                background: $color-white;
                vertical-align: bottom;
                border-right: none;

            }

            input {
                font-family: lato-light;
                font-size: 14pt;
                padding: 7.5px 5px;
                width: 70%;
                border: 1px solid rgba(0, 0, 0, 0.2);
                font-style: italic;
                border-left: none;
            }

            input[type="password"] {
                font-style: normal;
            }

            input[type="submit"] {
                border: 1px solid rgba(0, 0, 0, 0.2);
                width: 78%;
                font-size: normal;
                margin-top: 10px;
            }

            .password-lost {
                display: inline-block;
            }
        }
    }
}
