/*------------------------------------*\
    $FONT-FACES
\*------------------------------------*/

// Lato-Regular
@font-face {
    font-family: lato;
    src: url('../font/Lato-Regular.ttf');
}

// Lato-Light
@font-face {
    font-family: lato-light;
    src: url('../font/Lato-Light.ttf');
}

// Lato-Thin
@font-face {
    font-family: lato-thin;
    src: url('../font/Lato-Thin.ttf');
}