extends layout.jade

block page-title
    title youVote | Accueil
    
block content
    // Title & subtitle
    div(class="bloc-title")
        h2(class="bloc-title__title") Derniers votes demandés
        span(class="bloc-title__subtitle") Cliquez sur une liste pour donner votre avis
        
    // Bloc listes
    div(class="list-votes")
        a(href="#" class="sort-votes") Récents
            span(class="icon-carret")
        ul(class="ul-votes cf")
            // Ligne 1
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/anduin.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/howstrange.jpg", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/francisco.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            
            // Ligne 2
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/jungle.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/mothersday.jpg", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/mill.jpg", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            
            // Ligne 3
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/born.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/howstrange.jpg", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/tuna.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            
            // Ligne 4
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/icondribbble.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/r8.jpg", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
            li
                a(href="#")
                    div(class="vote-img")
                        img(src="img/anduin.png", alt="preview")
                    div(class="vote-infos")
                        div(class="user-infos")
                            img(src="img/user.png", alt="user profile picture")
                            span(class="user-name") Pseudosuperlong
                        div(class="votes-number")
                            span(class="icon-V")
                            span(class="votes-nb") 154
        
        // Pagination
        ol(class="nav pagination")
                            
            