// Header
div(class='header cf')
    div(class='header-content')
        h1(class='float--left') YouVote
        nav
            h2(class="visuallyhidden") Menu de navigation
            ul(class='nav float--right')
                li
                    a(href='index.html') Accueil
                li
                    a(href='add-a-vote.html') Demander un vote
                li
                    a(href='profil.html') Mon profil
